<template>
  <h3>${model.title}</h3>
  <img src="${model.image}" alt="${model.title}" />
  <hr>
  <div class="placeholder-left">
    <compose repeat.for="item of components" view-model.bind="item.type" model.bind="item.data"></compose>
  </div>
</template>
