<template>

  <div class="row">

    <div class="col-xs-12">

      <h3>Bootstrap</h3>

      <br><br>

      <a href="start">Go Back</a>

      <br><br>

    </div>

  </div>

  <div class="row">

    <div class="col-xs-6">

      <require from="../attributes/datepicker"></require>

      <div class="input-daterange input-group"
           datepicker
           data-date-format="yyyy-mm-dd"
           data-date-start-date="${startDate}"
           data-date-end-date="0d"
           data-date-today-highlight="true"
           data-date-week-start="1"
           data-date-language="${lang}"
           data-date-orientation="bottom auto"
           data-date-autoclose="true"
           changed.delegate="datesUpdated()">

          <input type="text"
                 class="form-control"
                 name="start"
                 value.bind="fromDate"/>

          <span class="input-group-addon" t="datepicker-to">to</span>

          <input type="text"
                 class="form-control"
                 name="end"
                 value.bind="toDate"/>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-x-12">

      <br><br>

      <p>${fromDate} - ${toDate}</p>

    </div>

  </div>

</template>
