<template>

  <!-- THE PLUGIN WORKS IF THIS IS USED IN THE TEMPLATE-->
  <require from="aurelia-highlightjs/hljs"></require>

  <h3>Example hljs</h3>
  <br><br>

  <a href="start">Go Back</a>

  <br><br>
  <br><br>

  <hljs language="json">{"name":"daniel","age":32,"city":"helsingborg"}</hljs>

  <hljs language="cs">public class MyName {}</hljs>

</template>
