<template>
  <h3>validation</h3>
  <br><br>
  <a href="start">Go Back</a>
  <br><br>

  <form submit.delegate="send()">
    <input type="text" placeholder="Name:" value.bind="name & validate"><br>
    <input type="text" placeholder="Email:" value.bind="email & validate"><br>
    <input type="text" placeholder="Age:" value.bind="age & validate"><br>
    <button type="submit">Send</button><br><br>
  </form>

  <ul repeat.for="item of controller.errors">
    <li>${item.propertyName} : ${item.rule.message.value}</li>
  <ul>

</template>
