<template>

  <h2>${title}</h2>

  <br><br>

  <a href="bootstrap">Bootstrap</a> |
  <a href="translations">Translations</a> |
  <a href="webapi">Webapi</a> |
  <a href="myform">Myform</a> |
  <a href="#" click.trigger="openMyDialog()">Open dialog</a> |
  <a href="highlightjs">Highlightjs</a> |
  <a href="tables">Tables</a>

  <hr>

  <input type="text" value.bind="inputtext" />
  <button click.trigger="send()">SEND</button>

  <hr>

  <ul>
    <li>Name: ${name_label}</li>
    <li>Key: ${key_label}</li>
    <li>Endpoint: ${endpoint_label}</li>
  </ul>

  <hr>

  <button click.trigger="loadCompose()">Load Compose</button>

  <div class="placeholder">
    <compose repeat.for="item of components" view-model.bind="item.type" model.bind="item.data"></compose>
  </div>


</template>
