<template>

  <style>
    .aut-sort:before{
      font-family: FontAwesome;
      padding-right: 0.5em;
      width: 1.28571429em;
      display: inline-block;
      text-align: center;
    }

    .aut-sortable:before{
      content: "\f0dc";
    }

    .aut-asc:before{
      content: "\f160";
    }

    .aut-desc:before{
      content: "\f161";
    }
  </style>

    <div class="row">

      <div class="col-xs-12">

        <h3>Tables</h3>
        <br>
        <a href="start">Go Back</a>
        <br><br>

      </div>

    </div>

    <div class="row">

      <div class="col-xs-4">

        <input type="text" value.bind="filters[0].value" class="form-control" placeholder="Filter ...">

        <br><br>

      </div>

    </div>

    <div class="row">

      <div class="col-xs-12">

      <table class="table table-striped" aurelia-table="data.bind: users; display-data.bind: $displayData; filters.bind: filters">
          <thead>
          <tr>
              <th aut-sort="key.bind: nameLength">Name</th>
              <th aut-sort="key: age; default: desc">Age</th>
              <th>E-mail</th>
              <th aut-sort="custom.bind: dateSort">Registered</th>
              <th aut-sort="key: isActive">Active</th>
          </tr>
          </thead>
          <tbody>
          <tr repeat.for="user of $displayData">
              <td>${user.name}</td>
              <td>${user.age}</td>
              <td><a href="mailto:${user.email}">${user.email}</a></td>
              <td>${user.registered}</td>
              <td>${user.isActive}</td>
          </tr>
          </tbody>
      </table>

      </div>

  </div>


</template>
