<template>
  <h2 t="sample-text">test_text</h2>
  <br><br>
  <button click.trigger="changeLocale('sv')">SET SV</button>
  <button click.trigger="changeLocale('en')">SET EN</button>
  <br><br>
  <a href="start">Go Back</a>
</template>
