<template>
  <a href="start">Go Back</a>
  <hr>
  <button click.trigger="btnGet()">get data</button>
  <hr>
  <ul>
  <li repeat.for="row of output">
    <span>${row._id} - ${row.name}</span>
  </ul>
</template>
