<template>
  <ux-dialog>
    <ux-dialog-header>
        <h2>Pop!</h2>
    </ux-dialog-header>
    <ux-dialog-body>
        <p>${model.name}</p><br>
        <input type="text" value.bind="model.name">
    </ux-dialog-body>

    <ux-dialog-footer>
        <button click.trigger="ok()">Ok</button>
        <button click.trigger="cancel()">Cancel</button>
    </ux-dialog-footer>
  </ux-dialog>
</template>
