<template>
  <require from="./components/header-bar"></require>

  <div class="container">

    <div class="row">

      <div class="col-xs-12">

        <header-bar></header-bar>

      </div>

    </div>

    <div><hr></div>

    <div class="row">

      <div class="col-xs-12">

        <router-view></router-view>

      </div>

    </div>

  </div>

</template>
